<div class="container">
    <app-navpc></app-navpc>
    <header>
        <div>
            <!-- <button nz-button [nzType]="'primary'" (click)="showModal()"><span>单个添加</span></button> -->
            <!-- &nbsp; -->
            <!-- <button nz-button nzType="primary">
                    <form class="fileBtn">
                            <label for="myfile">
                                <span>批量提交</span>
                                <input type="file" accept="exal" name="myfile" id="myfile" (change)="getUploadFile($event)"
                                    hidden />
                            </label>
                        </form>
            </button> -->
            <!-- <span (click)="showModal()" class="fileBtn">单个添加</span> -->
            <form class="fileBtn rightMar">
                <span (click)="showModal()">单个添加</span>
            </form>
            <form class="fileBtn">
                <label for="myfile">
                    <span>批量添加</span>
                    <input type="file" accept="exal" name="myfile" id="myfile" (change)="getUploadFile($event)"
                        hidden />
                </label>
            </form>
            <nz-modal [(nzVisible)]="isVisible" [nzTitle]="isUserTitle" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                姓名：<input type="text" name="name" class="input_userName" [(ngModel)]="input_userName">
                <br>
                <br>
                <!-- <p class="warnings" >用户名不能为空!</p> -->
                电话：<input type="text" name="phone" class="input_userPhone" [(ngModel)]="input_userPhone" maxlength="11">
                <!-- <p class="warnings">联系方式不能为空!</p> -->
            </nz-modal>
        </div>
    </header>
    <div class="user_list">
        <div class="user_header">
            <span class="user_name">姓名</span>
            <span class="user_phone">电话</span>
            <span class="user_delete">操作</span>
        </div>
        <div class="user_list_ul_box">
            <ul class="user_list_ul">
                <li *ngFor="let item of userArr">
                    <span>{{item.u_name}}</span>
                    <span>{{item.u_username}}</span>
                    <span class="liBtnBox">
                        <span class="" (click)="updateuser(item.u_id, item.u_name, item.u_username)">修改</span>
                        <span class="updateBtn" (click)="addAuth(item.u_id)"
                            *ngIf="!item.is_auth || item.is_auth == '0'">授权</span>
                        <span class="updateBtn" (click)="deleteAuth(item.u_id)" *ngIf="item.is_auth == '1'">取消授权</span>
                        <span class="" (click)="deleteUser('999', item.u_id)">删除</span>
                    </span>
    
                </li>
            </ul>
            <nz-pagination [(nzPageIndex)]="pageIndex" [nzTotal]="allpagenumber" [nzPageSize]="10" class="pageDivid"
                (nzPageIndexChange)='pageIndexChange()'>
            </nz-pagination>
        </div>
    </div>

    <!-- <nz-modal [(nzVisible)]="isShowBox" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <p>Content one</p>
        <p>Content two</p>
        <p>Content three</p>
      </nz-modal> -->
</div>